body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4;
    font-family: 'Inter', sans-serif;
}

#header-id {
    width: 45vw;
    height: 285px;
    background: #6943FF;
    text-align: center;
    margin-bottom: 20px;
}

#title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.84px;
}

#input {
    width: 117px;
    height: 83px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    margin-bottom: 5px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 800;
    line-height: 24.393px; /* 42.057% */
    background: #6943FF;
    }

#helper-text {
    margin: 0 auto 5px auto;
    color: rgb(246, 173, 187);
}

#convert-btn {
    display: block;
    margin: 20px auto 0 auto;
    padding: 9px 27.5px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #3D3D3D;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#convert-btn:hover {
    background: #EAEAEA;
    cursor: pointer;
}

.section {
    width: 40vw;
    height: 108.573px;
    border-radius: 4.681px 0px 0px 0px;
    background: var(--white, #FFF);
    margin: 26px 0;
    padding-top: 31px;
}

.p-title {
    width: 30vw;
    height: 25px;
    color: #5A537B;
    text-align: center;
    margin: auto;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.p-conversion {
    width: 30vw;
    height: 25px;
    color: #353535;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 600px) {
    #header-id {
        width: 90vw;
    }
    .section {
        width: 80vw;
    }
    .p-title {
        width: 80vw;
    }
    .p-conversion {
        width: 70vw;
    }
}

@media screen and (max-width: 800px) {
    .p-title {
        padding-bottom: 10px;
    }
}

.light-mode {
    background-color: #1F2937;
  }

.section-light-mode {
    background: #273549;
}

.light-mode-title {
    color: #CCC1FF;
}

.light-mode-conversion {
    color: #FFF;
}

.light-mode-toggle {
    color: #000;
}

#theme-switch {
    margin: 20px 20px 0px auto;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    border: none;
    background: #1F2937;
    color: var(--white, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#theme-switch:hover {
    cursor: pointer;
}